/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000; /* Darker grey background */
    color: #fff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
    margin-right: 10px;
}

.logo-container h3 {
    margin: 0;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust gap as needed */
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.search-container input {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    outline: none;
}

.search-container input::placeholder {
    color: white;
}

.search-container button {
    padding: 5px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

.search-container button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-menu details{
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.profile-menu details ul{
    position: absolute;
    right: 100%;
    list-style: none;
    width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.profile-menu details ul li{
    padding: 5px 15px;
    cursor: pointer;
    color:#000000;
}

.profile-menu details ul li:hover{
    background-color: #f0f2fb;
}

.profile-menu details summary{
    list-style: none;
}

.hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger details{
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.hamburger summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px; /* Adjust as necessary to fit the three lines */
}

.hamburger summary div {
    width: 20px;
    height: 3px;
    background-color: white;
    transition: all 0.4s ease;
}

.hamburger.open summary .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.open summary .line2 {
    opacity: 0;
}

.hamburger.open summary .line3 {
    transform: rotate(45deg) translate(-3px, -3px);
}

.hamburger details ul{
    position: absolute;
    right: 70%;
    list-style: none;
    width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.hamburger details ul li{
    padding: 5px 15px;
    cursor: pointer;
    color:#000000;
}

.hamburger details ul li:hover{
    background-color: #f0f2fb;
}

.hamburger details summary{
    list-style: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .search-container {
        display: none;
    }
}

.carousel {
    position: relative;
    width: 80%;  /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel horizontally */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 1s;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: rgba(110, 110, 110, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
    gap: 20px; /* Adjust the gap between blocks */
    max-width: 1200px; /* Optional: Set a maximum width for the container */
    margin: 0 auto; /* Center align the container */
    padding: 10px; /* Optional: Add padding around the container */
    background: #000000; /* Darker grey background */
    color: #ffffff;
}

.category-block img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #000000; /* Retro border */
    box-shadow: 
        6px 6px 0 #fb0000; /* Brown shadow */
    transition: 0.2s;
}

.category-block img:hover {
    cursor: pointer;
    transform: scale(0.9); /* Slightly scale up on hover */
    box-shadow: 
        4px 3px 0 #428ffb;
}

/* Media queries for responsive layout */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(6, 1fr); /* 5 equal columns */
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: repeat(4, 1fr); /* 2 equal columns */
    }
}
.naming{
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 0px;
    background-color: #000000;
    color: #ffffff;
}

footer {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff0066;
}

.footer-container {
    position: relative; /* Necessary for positioning the pseudo-element */
    color: #ffffff; /* Text color */
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center align content horizontally */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    text-align: center; /* Center align text */
    width: 100%;
    max-width: 800px; /* Optional max width for the content */
    padding: 20px;
    position: relative; /* Ensure z-index works correctly */
    z-index: 1; /* Ensure content is above the overlay */
}

.footer-content h1 {
    font-size: 18mm;
    margin-bottom: 20px; /* Margin below the title */
}

@media (max-width: 900px){
    .footer-content h1 {
        font-size: 10mm;
    }
}

.footer-content p {
    margin: 0 0 20px 0; /* Margin below the paragraph */
}

.newsletter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Margin below the newsletter */
}

.newsletter form {
    display: flex;
}

.newsletter input[type="email"] {
    padding: 15px;
    border: none;
    border-radius: 30px 0 0 30px;
    width: 250px;
    background-color: rgb(255, 255, 255); /* Adjust transparency */
    color: #000000;
    outline: none;
}

.newsletter input[type="email"]::placeholder {
    color: #000000;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
}

.newsletter button i {
    font-size: 16px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer-container {
        padding: 0px;
    }

    .footer-content {
        padding: 10px;
    }
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: -39px;
    width: 100%;
    height: 40px; /* Adjust height to the size of the triangles */
    background-color: #ff0066;
    clip-path: polygon(0 100%, 5% 0, 10% 100%, 15% 0, 20% 100%, 25% 0, 30% 100%, 35% 0, 40% 100%, 45% 0, 50% 100%, 55% 0, 60% 100%, 65% 0, 70% 100%, 75% 0, 80% 100%, 85% 0, 90% 100%, 95% 0, 100% 100%);
    z-index: 0; /* Ensure it is behind the footer content */
}

.movie-list-wrapper {
    overflow: hidden;
    position: relative;
    padding: 40px;
    background: #8c4646;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 300px; /* Adjust this height to show only the first row initially */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .movie {
    border-radius: 5px;
    overflow: hidden;
    width: 150px; /* Decreased width */
    margin-bottom: 20px; /* Increased margin between movies */
    border: 2px solid #000000; /* Retro border */
    box-shadow: 
        10px 10px 0px #000000; /* Brown shadow */
  }
  
  .movie img {
    width: 100%;
    height: auto;
  }
  
  .movie-details {
    padding: 5px;
    background-color: #997684;
  }
  
  .movie-title {
    font-size: 14px;
    margin-bottom: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .movie :hover{
    cursor: pointer;
    background-color: #d4c9cd;
  }
  
  #see-more-button {
    position: absolute;
    top: 10px;
    right: 5%;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #000000; /* Retro border */
    box-shadow: 
        6px 6px 0px #000000;
    transform: scale(0.3s);
  }
  
  #see-more-button:hover {
    transform: scale(0.9); /* Slightly scale up on hover */
    box-shadow: 
        2px 2px 0 #000000;
  }
  
  .movie-list-expanded {
    max-height: none;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .movie-list-wrapper {
      padding: 10px;
    }
  
    #see-more-button {
      position: static;
      display: block;
      margin: 0 auto 10px auto;
      text-align: center;
    }

    .movie-list{
        max-height: 230px;
    }
    .movie-list-expanded {
        max-height: none;
      }

    .movie{
        width: 100px;
    }
  }

  .concert-list-wrapper {
    overflow: hidden;
    position: relative;
    padding: 40px;
  }
  
  .concert-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 300px; /* Adjust this height to show only the first row initially */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .concert {
    border-radius: 5px;
    overflow: hidden;
    width: 150px; /* Decreased width */
    margin-bottom: 20px; /* Increased margin between movies */
  }
  
  .concert img {
    width: 100%;
    height: auto;
  }
  
  .concert-details {
    padding: 5px;
  }
  
  .concert-title {
    font-size: 14px;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
  }

  .concert :hover{
    cursor: pointer;
    text-decoration: underline;
  }
  
  #see-more-concert-button {
    position: absolute;
    top: 10px;
    right: 5%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  #see-more-concert-button:hover {
    text-decoration: underline;
  }
  
  .concert-list-expanded {
    max-height: none;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .concert-list-wrapper {
      padding: 10px;
    }
  
    #see-more-concert-button {
      position: static;
      display: block;
      margin: 0 auto 10px auto;
      text-align: center;
    }

    .concert-list{
        max-height: 230px;
    }
    .concert-list-expanded {
        max-height: none;
      }

    .concert{
        width: 100px;
    }
  }
  
